table {
  width: 95%;
  margin: 40px auto;
  text-align: center;
}

table,
th,
td {
  border: 1px solid rgba(201, 179, 179, 0.474);
  border-collapse: collapse;
}

th,
td {
  padding: 15px 10px;
}

.descr {
  width: 55%;
  text-align: justify;
}

td:nth-child(3),
td:nth-child(4) {
  width: 15%;
}

.mission-row:nth-child(odd) {
  background-color: lightgray;
}

.mission-row:nth-child(even) {
  background-color: #fff;
}

.member {
  text-transform: uppercase;
  color: #fff;
  padding: 4px 6px;
  font-size: 13px;
  border-radius: 5px;
}

.not-active {
  background-color: gray;
}

.active {
  background-color: rgb(86, 177, 86);
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 300ms;
}

.join {
  border: 2px solid #979696;
}

.join:hover {
  background-color: gray;
  color: #fff;
}

.leave {
  border: 2px solid rgb(213, 73, 73);
  color: rgb(213, 73, 73);
}

.leave:hover {
  background-color: rgb(237, 51, 51);
  color: #fff;
}

@media all and (max-width: 769px) {
  table {
    margin-top: 20px;
  }

  .mission-table {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  .mission-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 30px;
  }

  .table-head {
    display: none;
  }

  table,
  th,
  td {
    border: none;
  }

  td {
    padding: 15px 0;
  }

  td:nth-child(3),
  td:nth-child(4) {
    width: 50%;
  }

  .name {
    font-weight: bold;
    font-size: 26px;
  }

  .descr {
    font-size: 15px;
    text-align: justify;
    width: 90%;
  }
}
