.my-profile {
  width: 100%;
}

.profile {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.no-mission {
  text-align: center;
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: blue;
}

.profile h2 {
  font-size: 26px;
  padding-bottom: 15px;
  text-align: center;
}

.rockets {
  margin-top: 30px;
}

.profile-lists {
  margin: 0;
  padding: 0;
  border: 1px solid rgb(148, 146, 146);
  border-bottom: none;
  border-radius: 8px;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(148, 146, 146);
}

.list .name {
  width: 32%;
}

.wiki {
  text-decoration: none;
  color: #333;
  transition: 300ms ease-in-out;
  font-size: 14px;
}

.wiki:hover {
  color: blue;
  text-decoration: underline;
}

.wiki:active {
  color: blue;
}

@media all and (min-width: 1024px) {
  .profile {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto;
  }

  .profile h2 {
    text-align: start;
  }

  .list .name {
    width: 40%;
  }

  .rockets {
    margin-top: 0;
  }

  .rockets,
  .missions {
    width: 45%;
  }
}
