* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.nav-bar {
  width: 100%;
  border-bottom: 1px solid black;
}

.inner-nav,
.space {
  display: flex;
  align-items: center;
}

.inner-nav {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  gap: 3%;
  height: 45px;
}

.space {
  gap: 10px;
}

.space img {
  width: 40px;
}

.space h1 {
  display: none;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
}

.nav-list {
  display: inline-block;
  margin-right: 15px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: 300ms ease-in;
}

.nav-link:hover {
  opacity: 0.7;
}

.current {
  text-decoration: underline;
  color: red;
}

@media all and (min-width: 768px) {
  .space {
    cursor: pointer;
  }

  .space h1 {
    display: block;
  }
}

@media all and (min-width: 1024px) {
  .inner-nav {
    height: 80px;
  }

  .nav-list {
    margin-right: 25px;
  }
}
